### Imports

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### HTTP Request

#### Store website in variable

In [2]:
website = 'https://books.toscrape.com/'

#### Get Request

In [4]:
response = requests.get(website)

#### Status Code

In [5]:
response.status_code

200

#### Soup Object

In [8]:
soup = BeautifulSoup(response.content,'html.parser')

#### Results

In [29]:
results = soup.find_all('li', {'class':'col-xs-6'})
len(results)

20

In [30]:
product = results[0]
product

<li class="col-xs-6 col-sm-4 col-md-3 col-lg-3">
<article class="product_pod">
<div class="image_container">
<a href="catalogue/a-light-in-the-attic_1000/index.html"><img alt="A Light in the Attic" class="thumbnail" src="media/cache/2c/da/2cdad67c44b002e7ead0cc35693c0e8b.jpg"/></a>
</div>
<p class="star-rating Three">
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
<i class="icon-star"></i>
</p>
<h3><a href="catalogue/a-light-in-the-attic_1000/index.html" title="A Light in the Attic">A Light in the ...</a></h3>
<div class="product_price">
<p class="price_color">£51.77</p>
<p class="instock availability">
<i class="icon-ok"></i>

        In stock

</p>
<form>
<button class="btn btn-primary btn-block" data-loading-text="Adding..." type="submit">Add to basket</button>
</form>
</div>
</article>
</li>

#### Product Title

In [16]:
product.find('h3').find('a').get('title')

'A Light in the Attic'

#### Product Price

In [25]:
product.find('p',{'class':'price_color'}).get_text()

'£51.77'

#### Availability

In [28]:
product.find('p',{'class':'instock availability'}).get_text().strip()

'In stock'

### Create List and append our result

#### Name

In [40]:
#options no.1 - list comprehension
book_name = [result.find('h3').find('a').get('title') for result in results]
#book_name

In [34]:
#option no.2 
# book_name_2 = []

# for result in results:
#     book_name_2.append(result.find('h3').find('a').get('title'))
    
# book_name_2

#### Price

In [38]:
#list Comprehension

book_price = [result.find('p',{'class':'price_color'}).get_text() for result in results]
#book_price

#### Stock Availability

In [39]:
book_Instock = [result.find('p',{'class':'instock availability'}).get_text().strip() for result in results]
#book_Instock

### Pandas Dataframe

In [41]:
book_info = pd.DataFrame({'Name':book_name, 'Price':book_price, "Availability":book_Instock})

In [42]:
book_info

                                                 Name   Price Availability
0                                A Light in the Attic  £51.77     In stock
1                                  Tipping the Velvet  £53.74     In stock
2                                          Soumission  £50.10     In stock
3                                       Sharp Objects  £47.82     In stock
4               Sapiens: A Brief History of Humankind  £54.23     In stock
5                                     The Requiem Red  £22.65     In stock
6   The Dirty Little Secrets of Getting Your Dream...  £33.34     In stock
7   The Coming Woman: A Novel Based on the Life of...  £17.93     In stock
8   The Boys in the Boat: Nine Americans and Their...  £22.60     In stock
9                                     The Black Maria  £52.15     In stock
10     Starving Hearts (Triangular Trade Trilogy, #1)  £13.99     In stock
11                              Shakespeare's Sonnets  £20.66     In stock
12                                        Set Me Free  £17.46     In stock
13  Scott Pilgrim's Precious Little Life (Scott Pi...  £52.29     In stock
14                          Rip it Up and Start Again  £35.02     In stock
15  Our Band Could Be Your Life: Scenes from the A...  £57.25     In stock
16                                               Olio  £23.88     In stock
17  Mesaerion: The Best Science Fiction Stories 18...  £37.59     In stock
18                       Libertarianism for Beginners  £51.33     In stock
19                            It's Only the Himalayas  £45.17     In stock

### Save in Excel

In [45]:
book_info.to_excel('books_results_done.xlsx', index=False)