### Imports

In [1]:
from bs4 import BeautifulSoup
import requests
import pandas as pd

### HTTP Request

#### store website in variable

In [4]:
website = "https://www.trulia.com/CA/San_Francisco/"

#### Get Request

In [5]:
response = requests.get(website)

#### Status Code

In [6]:
response.status_code

200

### Soup Object

In [7]:
soup = BeautifulSoup(response.content,'html.parser')

### Results

In [8]:
results = soup.find_all('li', {'class':'SearchResultsList__WideCell-b7y9ki-2'})
len(results)

32

### Update Result

we just want to target the elements which have the attribute 'data-testid'

In [9]:
results_update=[]

In [10]:
for r in results:
    if r.has_attr('data-testid'):
        results_update.append(r)

In [11]:
len(results_update)

30

### Target Necessary Data

Street

In [12]:
results_update[0].find('div',{'data-testid':'property-street'}).get('title')

'2018 42nd Ave'

Region

In [13]:
results_update[0].find('div',{'data-testid':'property-region'}).get('title')

'Outer Sunset, San Francisco, CA'

Bedrooms

In [14]:
results_update[0].find('div',{'data-testid':'property-beds'}).get_text()

'2bd'

Bathrooms

In [15]:
results_update[0].find('div',{'data-testid':'property-baths'}).get_text()

'1ba'

Price

In [16]:
results_update[0].find('div',{'data-testid':'property-price'}).get('title')

'$899,000'

### Append all Results in List with List Comprehension

In [17]:
streets = [result.find('div',{'data-testid':'property-street'}).get('title') for result in results_update]
regions = [result.find('div',{'data-testid':'property-region'}).get('title') for result in results_update]
bedrooms = [result.find('div',{'data-testid':'property-beds'}).get_text() for result in results_update]
bathrooms = [result.find('div',{'data-testid':'property-baths'}).get_text() for result in results_update]
prices = [result.find('div',{'data-testid':'property-price'}).get('title') for result in results_update]

In [21]:
bathrooms

['1ba',
 '2ba',
 '7ba',
 '6ba',
 '3ba',
 '1ba',
 '9ba',
 '1ba',
 '2ba',
 '2ba',
 '5ba',
 '1ba',
 '3ba',
 '8ba',
 '1ba',
 '2ba',
 '3ba',
 '1ba',
 '1ba',
 '3ba',
 '1ba',
 '9ba',
 '1ba',
 '5ba',
 '6ba',
 '2ba',
 '5ba',
 '1ba',
 '4ba',
 '3ba']

### Create Pandas DataFrame

In [18]:
real_estate = pd.DataFrame({'Street':streets, 'Region':regions , 'Bedrooms':bedrooms , 'Bathrooms':bathrooms, 'Price':prices })

In [19]:
real_estate

,Street,Region,Bedrooms,Bathrooms,Price
0,2018 42nd Ave,"Outer Sunset, San Francisco, CA",2bd,1ba,"$899,000"
1,4366 25th St,"Noe Valley, San Francisco, CA",3bd,2ba,"$1,795,000"
2,224 Sea Cliff Ave,"Seacliff, San Francisco, CA",6bd,7ba,"$15,375,000"
3,45 Capra Way,"Marina, San Francisco, CA",4bd,6ba,"$10,300,000"
4,122 Chicago Way,"Crocker Amazon, San Francisco, CA",4bd,3ba,"$1,095,000"
5,3321 Moraga St,"Outer Sunset, San Francisco, CA",2bd,1ba,"$1,185,000"
6,2582 Filbert St,"Cow Hollow, San Francisco, CA",6bd,9ba,"$46,000,000"
7,2446 47th Ave,"Outer Sunset, San Francisco, CA",2bd,1ba,"$1,295,000"
8,627 Paris St,"Excelsior, San Francisco, CA",3bd,2ba,"$988,000"
9,720 Laguna Honda Blvd,"Laguna Honda, San Francisco, CA",5bd,2ba,"$1,995,000"
10,2219 Pacific Ave,"Pacific Heights, San Francisco, CA",5bd,5ba,"$6,850,000"
11,1701 Grove St #1,"Panhandle, San Francisco, CA",2bd,1ba,"$995,000"
12,70 Crestlake Dr,"Parkside, San Francisco, CA",3bd,3ba,"$1,495,000"
13,2698 Pacific Ave,"Pacific Heights, San Francisco, CA",8bd,8ba,"$25,800,000"
14,1125A Church St,"Dolores Heights, San Francisco, CA",1bd,1ba,"$695,000"
15,333 Haight St #3,"Mint Hill, San Francisco, CA",3bd,2ba,"$850,000"
16,2695 23rd Ave,"Parkside, San Francisco, CA",4bd,3ba,"$1,399,000"
17,870 Harrison St #405,"South of Market, San Francisco, CA",2bd,1ba,"$369,563"
18,106 Clipper St,"Noe Valley, San Francisco, CA",3bd,1ba,"$1,395,000"
19,126 Clayton St,"Panhandle, San Francisco, CA",3bd,3ba,"$1,595,000"
20,1685 Cayuga Ave,"Outer Mission, San Francisco, CA",3bd,1ba,"$1,049,000"
21,2828 Vallejo St,"Pacific Heights, San Francisco, CA",8bd,9ba,"$28,000,000"
22,662 Hearst Ave,"Sunnyside, San Francisco, CA",2bd,1ba,"$945,000"
23,10 Sea Cliff Ave,"Seacliff, San Francisco, CA",4bd,5ba,"$6,500,000"
24,1921 Washington St,"Pacific Heights, San Francisco, CA",5bd,6ba,"$4,995,000"
25,607-607A Arkansas St,"Potrero Hill, San Francisco, CA",4bd,2ba,"$1,150,000"
26,610 Ortega St,"Golden Gate Heights, San Francisco, CA",4bd,5ba,"$4,375,000"
27,1695 18th St #308,"Potrero Hill, San Francisco, CA",Studio,1ba,"$257,158"
28,2919 California St,"Lower Pacific Heights, San Francisco, CA",4bd,4ba,"$3,500,000"
29,4366 26th St,"Noe Valley, San Francisco, CA",4bd,3ba,"$3,295,000"

### Save Excel File

In [20]:
real_estate.to_excel('real_estate_page_1.xlsx', index=False)